<!DOCTYPE html>
<html>
<head>

<title>About AI</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<nav class="navbar navbar-dark">

<div class="container">

<a class="navbar-brand" href="/">🎓 Student Performance AI</a>

<div>

<a class="btn btn-light me-2" href="/">Home</a>

<a class="btn btn-light me-2" href="/about">About AI</a>

<a class="btn btn-light" href="/contact">Contact</a>

</div>

</div>

</nav>

<div class="container mt-5">

<h1>About This AI Model</h1>

<p>

This project predicts a student's final grade using Machine Learning.

</p>

<hr>

<h3>Algorithm</h3>

<p>Linear Regression</p>

<h3>Dataset</h3>

<p>1000 Student Records</p>

<h3>Framework</h3>

<p>Flask + Scikit-learn + Pandas</p>

</div>

</body>

</html>