{% extends "base.html" %}

{% block content %}

<div class="row align-items-center">

<div class="col-lg-6">

<h1 class="display-4 fw-bold">

Student Performance Prediction System

</h1>

<p class="lead">

Predict students' academic performance using Artificial Intelligence and Machine Learning.

</p>

<a href="/predict" class="btn btn-primary btn-lg">

Start Prediction

</a>

</div>

<div class="col-lg-6 text-center">

<img
src="https://cdn-icons-png.flaticon.com/512/3135/3135755.png"
width="350">

</div>

</div>

<hr class="my-5">

<div class="row">

<div class="col-md-4">

<div class="card p-4 shadow">

<h3>🤖 AI Powered</h3>

<p>Uses Machine Learning to predict final grades.</p>

</div>

</div>

<div class="col-md-4">

<div class="card p-4 shadow">

<h3>⚡ Fast</h3>

<p>Instant predictions using a trained model.</p>

</div>

</div>

<div class="col-md-4">

<div class="card p-4 shadow">

<h3>📊 Data Driven</h3>

<p>Predictions are based on real student data.</p>

</div>

</div>

</div>

{% endblock %}